<?xml version='1.0' encoding='utf-8'?>
<widget android-targetSdk="28" id="cc.fovea.purchase.demo.nc" version="1.0.0" versionCode="10000" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>helloworld</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="phonegap-version" value="cli-9.0.0" />
    <engine name="ios" spec="^5.0.1" />
    <plugin name="cordova-open-admob" spec="https://github.com/j3k0/admob-google-cordova.git" />
    <!-- plugin name="cordova-plugin-admob-frameworks" spec="https://github.com/j3k0/cordova-plugin-admob-frameworks.git" -->
    <icon src="res/icon.png" />
    <platform name="ios">
      <config-file target="*-Info.plist" parent="GADApplicationIdentifier">
        <string>ca-app-pub-8736727451487566~1022347731</string>
      </config-file>
    </platform>
    <platform name="android">
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-8736727451487566~3975814131" />
        </config-file>
        <splash density="land-ldpi" src="res/screen/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="res/screen/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="res/screen/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="res/screen/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="res/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="res/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="res/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="res/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="res/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
</widget>
